body {
    background-color: #FAF8ED;
}

a {
    text-decoration: none;
    color: black;
    
}

#arrows {
    display: none;
}


.categories {
    text-align: center;
}

h1 {
    font-family: 'Gloock', serif;
    text-align: center;
    font-size: 130px;
    font-weight: 300;
    line-height: 130px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}


.sections > * :hover{
    text-decoration: underline;
}


#fish {
    text-decoration: underline;
}

#back {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.burger-menu {
    position: fixed;
    top: 0;
    left: -300px;
    width: 300px;
    height: 100%;
    background-color: #FAF8ED;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 300;
    box-shadow: 0 0 10px rgba(0,0,0,0.3);
    transition: all 0.3s ease-in-out;
    z-index: 5000;
  }

  #burgerList {
    margin-top: 50px;
    /* line-height: 25px; */
  }

  #alle {
    line-height: 12px;
  }

  #burgerList>*:hover{
    text-decoration: underline;
  }

  #textBurger {
    margin-top: 50px;
    margin-left: -50px;
  }
  
  .burger-menu.show {
    left: 0;
  }
  
  .burger-icon {
    z-index: 5050;
    position: fixed;
    top: 20px;
    left: 20px;
    font-size: 20px;
    color: red;
    cursor: pointer;
    width: 20px;
    height: 20px;
  }

  #iconBurger {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0px 0px 0px);
    opacity: 30%;
    display: none;
  }

  #iconBurger:hover {
    opacity: 60%;
  }

#back:hover {
    color: lightgrey;
}

.categories >*:hover {
    text-decoration: underline;
    /* color: gray; */
}

#placeholder{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 205px 205px 205px 205px 205px 205px 205px;
    grid-template-rows: 315px 315px;
    /* align-self: end; */
    align-items: last baseline;
    /* display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
}

#placeholder>*:hover {
    filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
    opacity: 95%;
}

img {
    width: 205px;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 2px gray);
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
}

.holders>* {
    display: flex;
    flex-direction: column;
    gap: 175px;
    position: absolute;
    margin-top: 300px;
    /* z-index: 300; */
    margin-left: -10px;
}

.firstQuery{
    margin-top: -400px;
}

.firstQuery>* {
    width: 105vw;
    height: 140px;
    background-color: #D9D9D9;
    opacity: 55%;
    filter: drop-shadow(0px 4px 4px black 16%);
}

#one{
    z-index: 0;
}
        #stamp36 {
            transform: rotate(3.84deg);
            z-index: 0;
        }
        #stamp37 {
            transform: rotate(-5.3deg);
            z-index: 0;
        }
        #stamp38 {
            transform: rotate(2.39deg);
            z-index: 0;
        }
        #stamp39 {
            transform: rotate(-2.63deg);
            z-index: 0;
        }
        #stamp40{
            transform: rotate(3.19deg);
            z-index: 0;
        }
        #stamp41{
            transform: rotate(0.36deg);
            z-index: 0;
        }
        #stamp42{
            transform: rotate(-0.65deg);
            z-index: 0;
        }

#two{
    z-index: 100;
}
        #stamp43{
            transform: rotate(4.64deg);
            z-index: 50;
        }
        #stamp44{
            transform: rotate(-3.8deg);
            z-index: 50;
        }
        #stamp45{
            transform: rotate(2.3deg);
            z-index: 50;
        }
        #stamp46{
            transform: rotate(-5.3deg);
            z-index: 50;
        }
        #stamp101{
            transform: rotate(4.2deg);
            z-index: 50;
        }

/* img:hover {
    margin-bottom: 50px;
} */

@media screen and (max-width: 1240px){
    #placeholder {
     grid-template-columns: repeat(6, 205px);
     grid-template-rows: repeat(2, 315px);
    } 


    #stamp42{
        transform: rotate(-0.65deg);
        z-index: 50;
    }
 
 }
 
 @media screen and (max-width: 1040px){
     h1{
         font-size: 130px;
         line-height: 120px;
     }
 
     #placeholder {
      grid-template-columns: repeat(5, 205px);
      grid-template-rows: repeat(3, 315px);
     } 

     .secondQuery {
        margin-top: -715px;
    }
    
    .secondQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }

     #three{
        z-index: 0;
     }

     #one {
        z-index: 100;
     }

     #two {
        z-index: 200;
     }
  
  }
 
  @media screen and (max-width: 844px){
    .categories {
        display: none;
    }

    #iconBurger{
        display: block;
    }
 
     #placeholder {
        margin-top: -100px;
      grid-template-columns: repeat(4, 205px);
      grid-template-rows: repeat(3, 315px);
      margin-top: none;
     } 

     #arrows {
        margin-top: -50px;
        display: flex; 
        flex-direction: row;
        transform: scale(.25);
        align-items: center;
        opacity: 30%;
    }

    #arrows>*:hover {
        opacity: 60%;
    }

    #stamp44{
        z-index: 150;
    }
  
  }
 
 
 @media screen and ( max-width: 640px ){
 
     #placeholder {
         grid-template-columns: repeat(3, 205px);
         grid-template-rows: repeat(4, 315px);
        } 

        .thirdQuery {
            margin-top: -1030px;
        }
        
        .thirdQuery>* {
            width: 105vw;
            height: 140px;
            background-color: #D9D9D9;
            opacity: 55%;
            filter: drop-shadow(0px 4px 4px black 16%);
        }

        #stamp44{
            z-index: 50;
        }
     
     }

     @media screen and ( max-width: 400px) {
     
        .categories {
            font-size: 13px;
        }

        #placeholder > * {
            transform: rotate(0deg);
            margin-bottom: 50px;
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #arrows {
            margin-top: -100px;
        }

        #placeholder {
            display: block;
            margin-top: 0px;
        }

        .holders {
            display: none;
        }
    }
 
 
