body {
    background-color: #FAF8ED;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Gloock', serif;
    text-align: center;
    font-size: 130px;
    font-weight: 300;
    line-height: 130px;
}

#green {
    text-decoration: underline;
}

#back {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#back:hover {
    color: lightgrey;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.categories >*:hover {
    text-decoration: underline;
}

#placeholder{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 205px 205px 205px 205px 205px 205px 205px;
    grid-template-rows: 315px 315px 315px 315px;
    /* align-self: end; */
    align-items: last baseline;
    /* display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
}


#placeholder>*:hover {
    filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
    opacity: 95%;
}

.holders>* {
    display: flex;
    flex-direction: column;
    gap: 175px;
    position: absolute;
    margin-top: 300px;
    /* z-index: 300; */
    margin-left: -10px;
}

.firstQuery{
    margin-top: -1050px;
}

.firstQuery>* {
    width: 105vw;
    height: 140px;
    background-color: #D9D9D9;
    opacity: 55%;
    filter: drop-shadow(0px 4px 4px black 16%);
}

img {
    width: 205px;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 2px gray);
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
}

#one{
    z-index: 0;
}
        #stamp3 {
            transform: rotate(-5.3deg);
            z-index: -12;
        }
        #stamp6{
            transform: rotate(3.19deg);
        }
        #stamp7{
            transform: rotate(0.36deg);
        }
        #stamp10{
            transform: rotate(-3.8deg);
        }
        #stamp23{
            transform: rotate(3.19deg);
        }
        #stamp24{
            transform: rotate(0.36deg);
        }
        #stamp26{
            transform: rotate(4.64deg);
        }

#two {
    z-index: 100;
}
        #stamp27{
            transform: rotate(-3.8deg);
            z-index: 50;
        }
        #stamp32{ 
            transform: rotate(-4.7deg);
            z-index: 50;
        }
        #stamp35 {
            transform: rotate(-3.34deg);
            z-index: 50;
        }
        #stamp39 {
            transform: rotate(-2.63deg);
            z-index: 50;
        }
        #stamp42{
            transform: rotate(-0.65deg);
            z-index: 50;
        }
        #stamp43{
            transform: rotate(4.64deg);
            z-index: 50;
        }
        #stamp45{
            transform: rotate(2.3deg);
            z-index: 50;
        }

#three{
    z-index: 200;
}
        #stamp50{
            transform: rotate(2.7deg);
            z-index: 150;
        }
        #stamp53 {
            transform: rotate(3.84deg);
            z-index: 150;
        }
        #stamp63{
            transform: rotate(-5.3deg);
            z-index: 150;
        }
        #stamp69 {
            transform: rotate(-3.34deg);
            z-index: 150;
        }
        #stamp71 {
            transform: rotate(-5.3deg);
            z-index: 150;
        }
        #stamp75{
            transform: rotate(0.36deg);
            z-index: 150;
        }
        #stamp78{
            transform: rotate(-3.8deg);
            z-index: 150;
        }

#four {
    z-index: 300;
}
        #stamp95{
            transform: rotate(2.3deg);
            z-index: 250;
        }
        #stamp98{
            transform: rotate(-0.7deg);
            z-index: 250;
        }
        #stamp103 {
            transform: rotate(3.84deg);
            z-index: 250;
        }
        #stamp105 {
            transform: rotate(2.39deg);
            z-index: 250;
        }


/* img:hover {
    margin-bottom: 50px;
} */

@media screen and (max-width: 1240px){
    #placeholder {
     grid-template-columns: repeat(6, 205px);
     grid-template-rows: repeat(5, 315px);
    } 

    .secondQuery{
        margin-top: -1365px;
    }
    
    .secondQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }

    #five{
        z-index: 0;
    }
            #stamp3 {
                transform: rotate(-5.3deg);
                z-index: -12;
            }
            #stamp6{
                transform: rotate(3.19deg);
            }
            #stamp7{
                transform: rotate(0.36deg);
            }
            #stamp10{
                transform: rotate(-3.8deg);
            }
            #stamp23{
                transform: rotate(3.19deg);
            }
            #stamp24{
                transform: rotate(0.36deg);
            }
    
    #one{
        z-index: 100;
    }

            #stamp26{
                transform: rotate(4.64deg);
                z-index: 50;
            }
            #stamp27{
                transform: rotate(-3.8deg);
                z-index: 50;
            }
            #stamp32{ 
                transform: rotate(-4.7deg);
                z-index: 50;
            }
            #stamp35 {
                transform: rotate(-3.34deg);
                z-index: 50;
            }
            #stamp39 {
                transform: rotate(-2.63deg);
                z-index: 50;
            }
            #stamp42{
                transform: rotate(-0.65deg);
                z-index: 50;
            }
    
    #two {
        z-index: 200;
    }
            #stamp43{
                transform: rotate(4.64deg);
                z-index: 150;
            }
            #stamp45{
                transform: rotate(2.3deg);
                z-index: 150;
            }
            #stamp50{
                transform: rotate(2.7deg);
                z-index: 150;
            }
            #stamp53 {
                transform: rotate(3.84deg);
                z-index: 150;
            }
            #stamp63{
                transform: rotate(-5.3deg);
                z-index: 150;
            }
            #stamp69 {
                transform: rotate(-3.34deg);
                z-index: 150;
            }
    
    #three{
        z-index: 300;
    }
            #stamp71 {
                transform: rotate(-5.3deg);
                z-index: 250;
            }
            #stamp75{
                transform: rotate(0.36deg);
                z-index: 250;
            }
            #stamp78{
                transform: rotate(-3.8deg);
                z-index: 250;
            }
            #stamp95{
                transform: rotate(2.3deg);
                z-index: 250;
            }
            #stamp98{
                transform: rotate(-0.7deg);
                z-index: 250;
            }
            #stamp103 {
                transform: rotate(3.84deg);
                z-index: 250;
            }
    
    #four {
        z-index: 400;
    }
            #stamp105 {
                transform: rotate(2.39deg);
                z-index: 350;
            }
 
 }
 
 @media screen and (max-width: 1040px){
     h1{
         font-size: 130px;
         line-height: 120px;
     }
 
     #placeholder {
      grid-template-columns: repeat(5, 205px);
      grid-template-rows: repeat(5, 315px);
     } 

     #five {
        z-index: 0;
     }
            #stamp3 {
                transform: rotate(-5.3deg);
            }
            #stamp6{
                transform: rotate(3.19deg);
            }
            #stamp7{
                transform: rotate(0.36deg);
            }
            #stamp10{
                transform: rotate(-3.8deg);
            }
            #stamp23{
                transform: rotate(3.19deg);
            }

     #one{
        z-index: 100;
     }
            #stamp24{
                transform: rotate(0.36deg);
                z-index: 50;
            }
            #stamp26{
                transform: rotate(4.64deg);
                z-index: 50;
            }
            #stamp27{
                transform: rotate(-3.8deg);
                z-index: 50;
            }
            #stamp32{ 
                transform: rotate(-4.7deg);
                z-index: 50;
            }
            #stamp35 {
                transform: rotate(-3.34deg);
                z-index: 50;
            }

     #two{
        z-index: 200;
    }
            #stamp39 {
                transform: rotate(-2.63deg);
                z-index: 150;
            }
            #stamp42{
                transform: rotate(-0.65deg);
                z-index: 150;
            }
            #stamp43{
                transform: rotate(4.64deg);
                z-index: 150;
            }
            #stamp45{
                transform: rotate(2.3deg);
                z-index: 150;
            }
            #stamp50{
                transform: rotate(2.7deg);
                z-index: 150;
            }
    
    #three{
        z-index: 300;
    }
            #stamp53 {
                transform: rotate(3.84deg);
                z-index: 250;
            }
            #stamp63{
                transform: rotate(-5.3deg);
                z-index: 250;
            }
            #stamp69 {
                transform: rotate(-3.34deg);
                z-index: 250;
            }
            #stamp71 {
                transform: rotate(-5.3deg);
                z-index: 250;
            }
            #stamp75{
                transform: rotate(0.36deg);
                z-index: 250;
            }
    
    #four {
        z-index: 400;
    }
            #stamp78{
                transform: rotate(-3.8deg);
                z-index: 350;
            }
            #stamp95{
                transform: rotate(2.3deg);
                z-index: 350;
            }
            #stamp98{
                transform: rotate(-0.7deg);
                z-index: 350;
            }
            #stamp103 {
                transform: rotate(3.84deg);
                z-index: 350;
            }
            #stamp105 {
                transform: rotate(2.39deg);
                z-index: 350;
            }
 
 }
  
 
  @media screen and (max-width: 844px){

     #placeholder {
      grid-template-columns: repeat(4, 205px);
      grid-template-rows: repeat(7, 315px);
     } 

     .thirdQuery{
        margin-top: -1995px;
    }
    
    .thirdQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }

    #six{
        z-index: 0;
    }
            #stamp3 {
                transform: rotate(-5.3deg);
            }
            #stamp6{
                transform: rotate(3.19deg);
            }
            #stamp7{
                transform: rotate(0.36deg);
            }
            #stamp10{
                transform: rotate(-3.8deg);
            }

    #seven{
        z-index: 100;
    }
            #stamp23{
                transform: rotate(3.19deg);
                z-index: 50;
            }
            #stamp24{
                transform: rotate(0.36deg);
                z-index: 50;
            }
            #stamp26{
                transform: rotate(4.64deg);
                z-index: 50;
            }
            #stamp27{
                transform: rotate(-3.8deg);
                z-index: 50;
            }

         #five {
        z-index: 200;
     }
            #stamp32{ 
                transform: rotate(-4.7deg);
                z-index: 150;
            }
            #stamp35 {
                transform: rotate(-3.34deg);
                z-index: 150;
            }
            #stamp39 {
                transform: rotate(-2.63deg);
                z-index: 150;
            }
            #stamp42{
                transform: rotate(-0.65deg);
                z-index: 150;
            }



     #one{
        z-index: 300;
     }
            #stamp43{
                transform: rotate(4.64deg);
                z-index: 250;
            }
            #stamp45{
                transform: rotate(2.3deg);
                z-index: 250;
            }
            #stamp50{
                transform: rotate(2.7deg);
                z-index: 250;
            }
            #stamp53 {
                transform: rotate(3.84deg);
                z-index: 250;
            }

     #two{
        z-index: 400;
    }
            #stamp63{
                transform: rotate(-5.3deg);
                z-index: 350;
            }
            #stamp69 {
                transform: rotate(-3.34deg);
                z-index: 350;
            }
            #stamp71 {
                transform: rotate(-5.3deg);
                z-index: 350;
            }
            #stamp75{
                transform: rotate(0.36deg);
                z-index: 350;
            }


    
    #three{
        z-index: 500;
    }
            #stamp78{
                transform: rotate(-3.8deg);
                z-index: 450;
            }
            #stamp95{
                transform: rotate(2.3deg);
                z-index: 450;
            }
            #stamp98{
                transform: rotate(-0.7deg);
                z-index: 450;
            }
            #stamp103 {
                transform: rotate(3.84deg);
                z-index: 450;
            }


    
    #four {
        z-index: 600;
    }
            #stamp105 {
                transform: rotate(2.39deg);
                z-index: 550;
            }


  
  }
 
 
 @media screen and ( max-width: 640px ){
 
     #placeholder {
         grid-template-columns: repeat(3, 205px);
         grid-template-rows: repeat(9, 315px);
        } 

        .fourthQuery{
            margin-top: -2625px;
        }
        
        .fourthQuery>* {
            width: 105vw;
            height: 140px;
            background-color: #D9D9D9;
            opacity: 55%;
            filter: drop-shadow(0px 4px 4px black 16%);
        }

        #eight{
            z-index: 0;
        }
                #stamp3 {
                    transform: rotate(-5.3deg);
                }
                #stamp6{
                    transform: rotate(3.19deg);
                }
                #stamp7{
                    transform: rotate(0.36deg);
                }

        #nine{
            z-index: 100;
        }
                #stamp10{
                    transform: rotate(-3.8deg);
                    z-index: 50;
                }
                #stamp23{
                    transform: rotate(3.19deg);
                    z-index: 50;
                }
                #stamp24{
                    transform: rotate(0.36deg);
                    z-index: 50;
                }

        #six{
            z-index: 200;
        }
                #stamp26{
                    transform: rotate(4.64deg);
                    z-index: 150;
                }
                #stamp27{
                    transform: rotate(-3.8deg);
                    z-index: 150;
                }
                #stamp32{ 
                    transform: rotate(-4.7deg);
                    z-index: 150;
                }
 
        #seven{
            z-index: 300;
        }
                #stamp35 {
                    transform: rotate(-3.34deg);
                    z-index: 250;
                }
                #stamp39 {
                    transform: rotate(-2.63deg);
                    z-index: 250;
                }
                #stamp42{
                    transform: rotate(-0.65deg);
                    z-index: 250;
                }

             #five {
            z-index: 400;
         }
                #stamp43{
                    transform: rotate(4.64deg);
                    z-index: 350;
                }
                #stamp45{
                    transform: rotate(2.3deg);
                    z-index: 350;
                }
                #stamp50{
                    transform: rotate(2.7deg);
                    z-index: 350;
                }


         #one{
            z-index: 300;
         }
                #stamp53 {
                    transform: rotate(3.84deg);
                    z-index: 250;
                }
                #stamp63{
                    transform: rotate(-5.3deg);
                    z-index: 250;
                }
                #stamp69 {
                    transform: rotate(-3.34deg);
                    z-index: 250;
                }
    
         #two{
            z-index: 400;
        }
                #stamp71 {
                    transform: rotate(-5.3deg);
                    z-index: 350;
                }
                #stamp75{
                    transform: rotate(0.36deg);
                    z-index: 350;
                }
                #stamp78{
                    transform: rotate(-3.8deg);
                    z-index: 350;
                }
    
        #three{
            z-index: 500;
        }
                #stamp95{
                    transform: rotate(2.3deg);
                    z-index: 450;
                }
                #stamp98{
                    transform: rotate(-0.7deg);
                    z-index: 450;
                }
                #stamp103 {
                    transform: rotate(3.84deg);
                    z-index: 450;
                }
    
     
        #four {
            z-index: 600;
        }
                #stamp105 {
                    transform: rotate(2.39deg);
                    z-index: 550;
                }
    
    
     
     }

     @media screen and ( max-width: 400px) {
     
        .categories {
            font-size: 13px;
        }

        #placeholder > * {
            transform: rotate(0deg);
            margin-bottom: 50px;
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #placeholder {
            display: block;
        }

        .holders {
            display: none;
        }
    }

    @media screen and (min-width: 1435px){
        .largeParent {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
 
 