body {
    background-color: #FAF8ED;
}

a {
    text-decoration: none;
    color: black;
    text-align: center;
}

h1 {
    font-family: 'Gloock', serif;
    text-align: center;
    font-size: 130px;
    font-weight: 300;
    line-height: 130px;
}

.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

#horses {
    text-decoration: underline;
}

#back {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#back:hover {
    color: lightgrey;
}

.categories >*:hover {
    text-decoration: underline;
    /* color: gray; */
}

#placeholder{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 205px 205px 205px 205px 205px 205px 205px;
    grid-template-rows: 315px 315px;
    /* align-self: end; */
    align-items: last baseline;
    /* display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
}

#placeholder>*:hover {
    filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
    opacity: 95%;
}

img {
    width: 205px;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 2px gray);
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
}

/* img:hover {
    margin-bottom: 50px;
} */

@media screen and (max-width: 1240px){
    #placeholder {
     grid-template-columns: repeat(6, 205px);
     grid-template-rows: repeat(2, 315px);
    } 
 
 }
 
 @media screen and (max-width: 1040px){
     h1{
         font-size: 130px;
         line-height: 120px;
     }
 
     #placeholder {
      grid-template-columns: repeat(5, 205px);
      grid-template-rows: repeat(2, 315px);
     } 
  
  }
 
  @media screen and (max-width: 844px){
    .categories {
        flex-direction: column;
        gap: 10px;
    }
 
     #placeholder {
      grid-template-columns: repeat(4, 205px);
      grid-template-rows: repeat(2, 315px);
      margin-top: none;

     } 
  
  }
 
 
 @media screen and ( max-width: 640px ){
 
     #placeholder {
         grid-template-columns: repeat(3, 205px);
         grid-template-rows: repeat(3, 315px);
        } 
     
     }
 
     body {
        background-color: #FAF8ED;
    }
    
    a {
        text-decoration: none;
        color: black;
        text-align: center;
    }
    
    h1 {
        font-family: 'Gloock', serif;
        text-align: center;
        font-size: 130px;
        font-weight: 300;
        line-height: 130px;
    }
    
    .categories {
        display: flex;
        flex-direction: row;
        justify-content: space-around;
        font-family: Arial, Helvetica, sans-serif;
        font-size: 18px;
        text-decoration: none;
    }
    
    #horses {
        text-decoration: underline;
    }
    
    #back {
        text-align: center;
        font-family: Arial, Helvetica, sans-serif;
        color: gray;
        margin-top: 20px;
        margin-bottom: 30px;
        display: block;
        margin-left: auto;
        margin-right: auto;
    }
    
    #back:hover {
        color: lightgrey;
    }
    
    .categories >*:hover {
        text-decoration: underline;
        /* color: gray; */
    }
    
    #placeholder{
        margin-top: 100px;
        margin-right: auto;
        margin-left: auto;
        display: grid;
        grid-template-columns: 205px 205px 205px 205px 205px 205px 205px;
        grid-template-rows: 315px 315px 315px 315px;
        /* align-self: end; */
        align-items: last baseline;
        /* display: grid;
        grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
    }
    
    #placeholder>*:hover {
        filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
        opacity: 95%;
    }
    
    img {
        width: 205px;
        justify-content: space-between;
        filter: drop-shadow(2px 2px 2px gray);
        /* position: absolute; */
        /* display: flex;
        flex-direction: column; */
    }

    .holders>* {
        display: flex;
        flex-direction: column;
        gap: 175px;
        position: absolute;
        margin-top: 300px;
        /* z-index: 300; */
        margin-left: -10px;
    }
    
    .firstQuery{
        margin-top: -1050px;
    }
    
    .firstQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }

    #one{
        z-index: 0;
    }
            #stamp31{
                transform: rotate(-0.7deg);
                z-index: 0;
            }
            #stamp47{
                z-index: 0;
            }
            #stamp48{
                transform: rotate(-0.7deg);
                z-index: 0;
            }
            #stamp54 {
                transform: rotate(-5.3deg);
                z-index: 0;
            }
            #stamp55 {
                transform: rotate(2.39deg);
                z-index: 0;
            }
            #stamp56 {
                transform: rotate(-2.63deg);
                z-index: 0;
            }
            #stamp64{
                z-index: 0;
            }

    #two{
        z-index: 100;
    }
            #stamp65{
                transform: rotate(-0.7deg);
                z-index: 50;
            }
            #stamp67{
                transform: rotate(2.7deg);
                z-index: 50;
            }
            #stamp68{
                transform: rotate(4.2deg);
                z-index: 50;
            }
            #stamp71 {
                transform: rotate(-5.3deg);
                z-index: 50;
            }
            #stamp72 {
                transform: rotate(2.39deg);
                z-index: 50;
            }
            #stamp73 {
                transform: rotate(-2.63deg);
                z-index: 50;
            }
            #stamp74{
                transform: rotate(3.19deg);
                z-index: 50;
            }

    #three{
        z-index: 200;
    }
            #stamp75{
                transform: rotate(0.36deg);
                z-index: 150;
            }
            #stamp76{
                transform: rotate(-0.65deg);
                z-index: 150;
            }
            #stamp80{
                transform: rotate(-5.3deg);
                z-index: 150;
            }
            #stamp81{
                z-index: 150;
            }
            #stamp82{ 
                transform: rotate(-4.7deg);
                z-index: 150;
            }
            #stamp83{
                transform: rotate(2.7deg);
                z-index: 150;
            }

    #four {
        z-index: 300;
    }
            #stamp87 {
                transform: rotate(-5.3deg);
                z-index: 250;
            }
            #stamp88 {
                transform: rotate(2.39deg);
                z-index: 250;
            }
            #stamp89 {
                transform: rotate(-2.63deg);
                z-index: 250;
            }
    
    /* img:hover {
        margin-bottom: 50px;
    } */
    
    @media screen and (max-width: 1240px){
        #placeholder {
         grid-template-columns: repeat(6, 205px);
         grid-template-rows: repeat(4, 315px);
        } 

        #one{
            z-index: 0;
        }
                #stamp31{
                    transform: rotate(-0.7deg);
                    z-index: 0;
                }
                #stamp47{
                    z-index: 0;
                }
                #stamp48{
                    transform: rotate(-0.7deg);
                    z-index: 0;
                }
                #stamp54 {
                    transform: rotate(-5.3deg);
                    z-index: 0;
                }
                #stamp55 {
                    transform: rotate(2.39deg);
                    z-index: 0;
                }
                #stamp56 {
                    transform: rotate(-2.63deg);
                    z-index: 0;
                }
    
        #two{
            z-index: 100;
        }
                #stamp64{
                    z-index: 50;
                }
                #stamp65{
                    transform: rotate(-0.7deg);
                    z-index: 50;
                }
                #stamp67{
                    transform: rotate(2.7deg);
                    z-index: 50;
                }
                #stamp68{
                    transform: rotate(4.2deg);
                    z-index: 50;
                }
                #stamp71 {
                    transform: rotate(-5.3deg);
                    z-index: 50;
                }
                #stamp72 {
                    transform: rotate(2.39deg);
                    z-index: 50;
                }
   
        #three{
            z-index: 200;
        }
                #stamp73 {
                    transform: rotate(-2.63deg);
                    z-index: 150;
                }
                #stamp74{
                    transform: rotate(3.19deg);
                    z-index: 150;
                }
                #stamp75{
                    transform: rotate(0.36deg);
                    z-index: 150;
                }
                #stamp76{
                    transform: rotate(-0.65deg);
                    z-index: 150;
                }
                #stamp80{
                    transform: rotate(-5.3deg);
                    z-index: 150;
                }

        #four {
            z-index: 300;
        }
                #stamp81{
                    z-index: 250;
                }
                #stamp82{ 
                    transform: rotate(-4.7deg);
                    z-index: 250;
                }
                #stamp83{
                    transform: rotate(2.7deg);
                    z-index: 250;
                }
                #stamp87 {
                    transform: rotate(-5.3deg);
                    z-index: 250;
                }
                #stamp88 {
                    transform: rotate(2.39deg);
                    z-index: 250;
                }
                #stamp89 {
                    transform: rotate(-2.63deg);
                    z-index: 250;
                }
     
     }
     
     @media screen and (max-width: 1040px){
         h1{
             font-size: 130px;
             line-height: 120px;
         }
     
         #placeholder {
          grid-template-columns: repeat(5, 205px);
          grid-template-rows: repeat(5, 315px);
         } 

         .secondQuery{
            margin-top: -1365px;
        }
        
        .secondQuery>* {
            width: 105vw;
            height: 140px;
            background-color: #D9D9D9;
            opacity: 55%;
            filter: drop-shadow(0px 4px 4px black 16%);
        }

        #five {
            z-index: 0;
        }
                #stamp31{
                    transform: rotate(-0.7deg);
                    z-index: 0;
                }
                #stamp47{
                    z-index: 0;
                }
                #stamp48{
                    transform: rotate(-0.7deg);
                    z-index: 0;
                }
                #stamp54 {
                    transform: rotate(-5.3deg);
                    z-index: 0;
                }
                #stamp55 {
                    transform: rotate(2.39deg);
                    z-index: 0;
                }

        #one{
            z-index: 100;
        }
                #stamp56 {
                    transform: rotate(-2.63deg);
                    z-index: 50;
                }
                #stamp64{
                    z-index: 50;
                }
                #stamp65{
                    transform: rotate(-0.7deg);
                    z-index: 50;
                }
                #stamp67{
                    transform: rotate(2.7deg);
                    z-index: 50;
                }
                #stamp68{
                    transform: rotate(4.2deg);
                    z-index: 50;
                }
    
        #two{
            z-index: 200;
        }
                #stamp71 {
                    transform: rotate(-5.3deg);
                    z-index: 150;
                }
                #stamp72 {
                    transform: rotate(2.39deg);
                    z-index: 150;
                }
                #stamp73 {
                    transform: rotate(-2.63deg);
                    z-index: 150;
                }
                #stamp74{
                    transform: rotate(3.19deg);
                    z-index: 150;
                }
                #stamp75{
                    transform: rotate(0.36deg);
                    z-index: 150;
                }
   
        #three{
            z-index: 300;
        }
                #stamp76{
                    transform: rotate(-0.65deg);
                    z-index: 250;
                }
                #stamp80{
                    transform: rotate(-5.3deg);
                    z-index: 250;
                }
                #stamp81{
                    z-index: 250;
                }
                #stamp82{ 
                    transform: rotate(-4.7deg);
                    z-index: 250;
                }
                #stamp83{
                    transform: rotate(2.7deg);
                    z-index: 250;
                }

        #four {
            z-index: 400;
        }
                #stamp87 {
                    transform: rotate(-5.3deg);
                    z-index: 350;
                }
                #stamp88 {
                    transform: rotate(2.39deg);
                    z-index: 350;
                }
                #stamp89 {
                    transform: rotate(-2.63deg);
                    z-index: 350;
                }
     
      
      }
     
      @media screen and (max-width: 844px){
        .categories {
            flex-direction: column;
            gap: 10px;
        }
     
         #placeholder {
          grid-template-columns: repeat(4, 205px);
          grid-template-rows: repeat(6, 315px);
          margin-top: none;
    
         } 

         .thirdQuery{
            margin-top: -1680px;
        }
        
        .thirdQuery>* {
            width: 105vw;
            height: 140px;
            background-color: #D9D9D9;
            opacity: 55%;
            filter: drop-shadow(0px 4px 4px black 16%);
        }

        #six {
            z-index: 0;
        }
                #stamp31{
                    transform: rotate(-0.7deg);
                    z-index: 0;
                }
                #stamp47{
                    z-index: 0;
                }
                #stamp48{
                    transform: rotate(-0.7deg);
                    z-index: 0;
                }
                #stamp54 {
                    transform: rotate(-5.3deg);
                    z-index: 0;
                }

        #five {
            z-index: 100;
        }
                #stamp55 {
                    transform: rotate(2.39deg);
                    z-index: 50;
                }
                #stamp56 {
                    transform: rotate(-2.63deg);
                    z-index: 50;
                }
                #stamp64{
                    z-index: 50;
                }
                #stamp65{
                    transform: rotate(-0.7deg);
                    z-index: 50;
                }

        #one{
            z-index: 200;
        }
                #stamp67{
                    transform: rotate(2.7deg);
                    z-index: 150;
                }
                #stamp68{
                    transform: rotate(4.2deg);
                    z-index: 150;
                }
                #stamp71 {
                    transform: rotate(-5.3deg);
                    z-index: 150;
                }
                #stamp72 {
                    transform: rotate(2.39deg);
                    z-index: 150;
                }

        #two{
            z-index: 300;
        }
                #stamp73 {
                    transform: rotate(-2.63deg);
                    z-index: 250;
                }
                #stamp74{
                    transform: rotate(3.19deg);
                    z-index: 250;
                }
                #stamp75{
                    transform: rotate(0.36deg);
                    z-index: 250;
                }
                #stamp76{
                    transform: rotate(-0.65deg);
                    z-index: 250;
                }
   
        #three{
            z-index: 400;
        }
                #stamp80{
                    transform: rotate(-5.3deg);
                    z-index: 350;
                }
                #stamp81{
                    z-index: 350;
                }
                #stamp82{ 
                    transform: rotate(-4.7deg);
                    z-index: 350;
                }
                #stamp83{
                    transform: rotate(2.7deg);
                    z-index: 350;
                }

        #four {
            z-index: 500;
        }
                #stamp87 {
                    transform: rotate(-5.3deg);
                    z-index: 450;
                }
                #stamp88 {
                    transform: rotate(2.39deg);
                    z-index: 450;
                }
                #stamp89 {
                    transform: rotate(-2.63deg);
                    z-index: 450;
                }
     
      
      }
     
     
     @media screen and ( max-width: 640px ){
     
         #placeholder {
             grid-template-columns: repeat(3, 205px);
             grid-template-rows: repeat(7, 315px);
            } 

            .firstQuery{
                margin-top: -1080px;
            }

            .secondQuery{
                margin-top: -1380px;
            }

            .thirdQuery{
                margin-top: -1690;
            }

            .fourthQuery{
                margin-top: -2330px;
            }
            
            .fourthQuery>* {
                width: 105vw;
                height: 140px;
                background-color: #D9D9D9;
                opacity: 55%;
                filter: drop-shadow(0px 4px 4px black 16%);
            }

            #seven{
                z-index: 0;
            }
                    #stamp31{
                        transform: rotate(-0.7deg);
                        z-index: 0;
                    }
                    #stamp47{
                        z-index: 0;
                    }
                    #stamp48{
                        transform: rotate(-0.7deg);
                        z-index: 0;
                    }

            #eight{
                z-index: 100;
            }
                    #stamp54 {
                        transform: rotate(-5.3deg);
                        z-index: 50;
                    }
                    #stamp55 {
                        transform: rotate(2.39deg);
                        z-index: 50;
                    }
                    #stamp56 {
                        transform: rotate(-2.63deg);
                        z-index: 50;
                    }
    
            #six {
                z-index: 200;
            }
                    #stamp64{
                        z-index: 150;
                    }
                    #stamp65{
                        transform: rotate(-0.7deg);
                        z-index: 150;
                    }
                    #stamp67{
                        transform: rotate(2.7deg);
                        z-index: 150;
                    }

            #five {
                z-index: 300;
            }
                    #stamp68{
                        transform: rotate(4.2deg);
                        z-index: 250;
                    }
                    #stamp71 {
                        transform: rotate(-5.3deg);
                        z-index: 250;
                    }
                    #stamp72 {
                        transform: rotate(2.39deg);
                        z-index: 250;
                    }


    
            #one{
                z-index: 400;
            }
                    #stamp73 {
                        transform: rotate(-2.63deg);
                        z-index: 350;
                    }
                    #stamp74{
                        transform: rotate(3.19deg);
                        z-index: 350;
                    }
                    #stamp75{
                        transform: rotate(0.36deg);
                        z-index: 350;
                    }


    
            #two{
                z-index: 500;
            }
                    #stamp76{
                        transform: rotate(-0.65deg);
                        z-index: 450;
                    }
                    #stamp80{
                        transform: rotate(-5.3deg);
                        z-index: 450;
                    }
                    #stamp81{
                        z-index: 450;
                    }
       
            #three{
                z-index: 600;
            }
                    #stamp82{ 
                        transform: rotate(-4.7deg);
                        z-index: 550;
                    }
                    #stamp83{
                        transform: rotate(2.7deg);
                        z-index: 550;
                    }
                    #stamp87 {
                        transform: rotate(-5.3deg);
                        z-index: 550;
                    }
    
            #four {
                z-index: 700;
            }
                    #stamp88 {
                        transform: rotate(2.39deg);
                        z-index: 650;
                    }
                    #stamp89 {
                        transform: rotate(-2.63deg);
                        z-index: 650;
                    }
         
         
         }

         @media screen and ( max-width: 400px) {
     
            .categories {
                font-size: 13px;
            }
    
            #placeholder > * {
                transform: rotate(0deg);
                margin-bottom: 50px;
                width: 70%;
                display: block;
                margin-left: auto;
                margin-right: auto;
            }
    
            #placeholder {
                display: block;
            }
    
            .holders {
                display: none;
            }
        }
     
     
    