body {
    background-color: #FAF8ED;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Gloock', serif;
    text-align: center;
    font-size: 148px;
    font-weight: 300;
    line-height: 128px;
}

h2 {
    font-family: 'Gloock', serif; 
    text-align: center;
    font-weight: 300;
    font-size: 80px;
    line-height: 75px;
    padding: none;
    margin: none;
    margin-top: -35px;
    margin-bottom: 5px;
}

.categories {
    display: flex;
    flex-direction: row;
    gap: 5rem;
    justify-content: center;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

.categories >*:hover {
    text-decoration: underline;
}

#placeholder{
    margin-top: 100px;
    display: grid;
    grid-template-columns: repeat(7, 205px);
    grid-template-rows: repeat(16, 315px);
    align-items: last baseline;
    margin-left: auto;
    margin-right: auto;
}

#placeholder>*{
    margin-left: -10px;
}

#placeholder>*:hover {
    filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
    opacity: 95%;
    /* z-index: 400; */
    transform: rotate(0deg);
}

img {
    width: 205px;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 2px gray);
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
}

#overlay{
    width: 150vw;
    height: 150vh;
    margin-top: -300px;
    margin-left: -300px;
    background-color: black;
    opacity: .2;
    position: fixed;
    display: none;
    z-index: 4000;
}

.quicklook {
    display: none;
    z-index: 4000;
    margin: auto;
    background-color: #FAF8ED;
    filter: drop-shadow(2px 2px 2px gray);
    border-radius: 7px;
    width: 70%;
    max-width: 680px;
    min-width: none;
    max-height: 700px;
    min-height: 400px;
    /* position: absolute; */
    margin-left: auto;
    margin-right: auto;
    position: fixed;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    padding-top: 70px;
    padding-bottom: 70px;
    flex-direction: column;
}

#close-button {
    width: 20px;
    height: 20px;
    filter: drop-shadow(0px 0px 0px gray);
    opacity: 50%;
    position: absolute;
    top: 15px;
    right: 15px;
}

#close-button:hover {
    opacity: 80%;
}

.quicklook-content{
    display: flex;
    grid-template-rows: 300px, 400px;
    /* padding: 10px; */
    gap: 4em;
    margin-top: 40px;
    align-items: center;
    justify-content: center;
    /* justify-content: first baseline; */
    margin-bottom: -50px;

}

#information {
    display: flex;
    flex-direction: column;
    gap: 1em;
    margin-top: 50px
}

p {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: 100;
}

.imageDiv {
    width: 40%;
}

.infoDiv {
    width: 60%;
}

#quicklook-image {
    max-height: 800px;
    /* min-height: 200px; */
    /* min-height: 400px; */
    transform: scale(1.2);
    /* margin-top: 10px; */
    align-self: center;
    filter: drop-shadow(0px 0x 0px lightgrey);
    /* margin-top: -100px; */
}

.holders>* {
    display: flex;
    flex-direction: column;
    gap: 175px;
    position: absolute;
    margin-top: 300px;
    /* z-index: 300; */
    margin-left: -10px;
}

.firstQuery {
    margin-top: -4830px;
}

.firstQuery>* {
    width: 105vw;
    height: 140px;
    background-color: #D9D9D9;
    opacity: 55%;
    filter: drop-shadow(0px 4px 4px black 16%);
}






#one{
    z-index: 0;
}
        #stamp1 {
            transform: rotate(-3.34deg);
            /* z-index: 1; */
        }
        #stamp2 {
            transform: rotate(3.84deg);
            /* z-index: 1; */
        }
        #stamp3 {
            transform: rotate(-5.3deg);
            /* z-index: 1; */
        }
        #stamp4 {
            transform: rotate(2.39deg);
            /* z-index: 1; */
        }
        #stamp5 {
            transform: rotate(-2.63deg);
            /* z-index: 1; */
        }
        #stamp6{
            transform: rotate(3.19deg);
            /* z-index: 1; */
        }
        #stamp7{
            transform: rotate(0.36deg);
            /* z-index: 1; */
        }


#two{
    z-index: 100;
}
        #stamp8{
            transform: rotate(-0.65deg);
            z-index: 50;
        }
        #stamp9{
            transform: rotate(4.64deg);
            z-index: 50;
        }
        #stamp10{
            transform: rotate(-3.8deg);
            z-index: 50;
        }
        #stamp11{
            transform: rotate(2.3deg);
            z-index: 50;
        }
        #stamp12{
            transform: rotate(-5.3deg);
            z-index: 50;
        }
        #stamp13 {
            z-index: 50;
        }
        #stamp14{
            transform: rotate(-0.7deg);
            z-index: 50;
        }

#three{
    z-index: 200;
}
        #stamp15{ 
            transform: rotate(-4.7deg);
            z-index: 150;
        }
        #stamp16{
            transform: rotate(2.7deg);
            z-index: 150;
        }
        #stamp17{
            transform: rotate(4.2deg);
            z-index: 150;
        }
        #stamp18 {
            transform: rotate(-3.34deg);
            z-index: 150;
        }
        #stamp19 {
            transform: rotate(3.84deg);
            z-index: 150;
        }
        #stamp20 {
            transform: rotate(-5.3deg);
            z-index: 150;
        }
        #stamp21 {
            transform: rotate(2.39deg);
            z-index: 150;
        }

#four{
    z-index: 300;
}
        #stamp22 {
            transform: rotate(-2.63deg);
            z-index: 250;
        }
        #stamp23{
            transform: rotate(3.19deg);
            z-index: 250;
        }
        #stamp24{
            transform: rotate(0.36deg);
            z-index: 250;
        }
        #stamp25{
            transform: rotate(-0.65deg);
            z-index: 250;
        }
        #stamp26{
            transform: rotate(4.64deg);
            z-index: 250;
        }
        #stamp27{
            transform: rotate(-3.8deg);
            z-index: 250;
        }
        #stamp28{
            transform: rotate(2.3deg);
            z-index: 250;
        }


#five {
    z-index: 400;
}
        #stamp29{
            transform: rotate(-5.3deg);
            z-index: 350;
        }
        #stamp30{
            z-index: 350;
        }
        #stamp31{
            transform: rotate(-0.7deg);
            z-index: 350;
        }
        #stamp32{ 
            transform: rotate(-4.7deg);
            z-index: 350;
        }
        #stamp33{
            transform: rotate(2.7deg);
            z-index: 350;
        }
        #stamp34{
            transform: rotate(4.2deg);
            z-index: 350;
        }
        #stamp35 {
            transform: rotate(-3.34deg);
            z-index: 350;
        }

#six{
    z-index: 500;
}
        #stamp36 {
            transform: rotate(3.84deg);
            z-index: 450;
        }
        #stamp37 {
            transform: rotate(-5.3deg);
            z-index: 450;
        }
        #stamp38 {
            transform: rotate(2.39deg);
            z-index: 450;
        }
        #stamp39 {
            transform: rotate(-2.63deg);
            z-index: 450;
        }
        #stamp40{
            transform: rotate(3.19deg);
            z-index: 450;
        }
        #stamp41{
            transform: rotate(0.36deg);
            z-index: 450;
        }
        #stamp42{
            transform: rotate(-0.65deg);
            z-index: 450;
        }

#seven{
    z-index: 600;
}
        #stamp43{
            transform: rotate(4.64deg);
            z-index: 550;
        }
        #stamp44{
            transform: rotate(-3.8deg);
            z-index: 550;
        }
        #stamp45{
            transform: rotate(2.3deg);
            z-index: 550;
        }
        #stamp46{
            transform: rotate(-5.3deg);
            z-index: 550;
        }
        #stamp47{
            z-index: 550;
        }
        #stamp48{
            transform: rotate(-0.7deg);
            z-index: 550;
        }
        #stamp49{ 
            transform: rotate(-4.7deg);
            z-index: 550;
        }


#eight{
    z-index: 700;
}
        #stamp50{
            transform: rotate(2.7deg);
            z-index: 650;
        }
        #stamp51{
            transform: rotate(4.2deg);
            z-index: 650;
        }
        #stamp52 {
            transform: rotate(-3.34deg);
            z-index: 650;
        }
        #stamp53 {
            transform: rotate(3.84deg);
            z-index: 650;
        }
        #stamp54 {
            transform: rotate(-5.3deg);
            z-index: 650;
        }
        #stamp55 {
            transform: rotate(2.39deg);
            z-index: 650;
        }
        #stamp56 {
            transform: rotate(-2.63deg);
            z-index: 650;
        }

#nine{
    z-index: 800;
}
        #stamp57{
            transform: rotate(3.19deg);
            z-index: 750;
        }
        #stamp58{
            transform: rotate(0.36deg);
            z-index: 750;
        }
        #stamp59{
            transform: rotate(-0.65deg);
            z-index: 750;
        }
        #stamp60{
            transform: rotate(4.64deg);
            z-index: 750;
        }
        #stamp61{
            transform: rotate(-3.8deg);
            z-index: 750;
        }
        #stamp62{
            transform: rotate(2.3deg);
            z-index: 750;
        }
        #stamp63{
            transform: rotate(-5.3deg);
            z-index: 750;
        }

#ten{
    z-index: 900;
}
        #stamp64{
            z-index: 850;
        }
        #stamp65{
            transform: rotate(-0.7deg);
            z-index: 850;
        }
        #stamp66{ 
            transform: rotate(-4.7deg);
            z-index: 850;
        }
        #stamp67{
            transform: rotate(2.7deg);
            z-index: 850;
        }
        #stamp68{
            transform: rotate(4.2deg);
            z-index: 850;
        }
        #stamp69 {
            transform: rotate(-3.34deg);
            z-index: 850;
        }
        #stamp70 {
            transform: rotate(3.84deg);
            z-index: 850;
        }

#eleven{
    z-index: 1000;
}
        #stamp71 {
            transform: rotate(-5.3deg);
            z-index: 950;
        }
        #stamp72 {
            transform: rotate(2.39deg);
            z-index: 950;
        }
        #stamp73 {
            transform: rotate(-2.63deg);
            z-index: 950;
        }
        #stamp74{
            transform: rotate(3.19deg);
            z-index: 950;
        }
        #stamp75{
            transform: rotate(0.36deg);
            z-index: 950;
        }
        #stamp76{
            transform: rotate(-0.65deg);
            z-index: 950;
        }
        #stamp77{
            transform: rotate(4.64deg);
            z-index: 950;
        }

#twelve{
    z-index: 1100;
}
        #stamp78{
            transform: rotate(-3.8deg);
            z-index: 1050;
        }
        #stamp79{
            transform: rotate(2.3deg);
            z-index: 1050;
        }
        #stamp80{
            transform: rotate(-5.3deg);
            z-index: 1050;
        }
        #stamp81{
            z-index: 1050;
        }
        #stamp82{ 
            transform: rotate(-4.7deg);
            z-index: 1050;
        }
        #stamp83{
            transform: rotate(2.7deg);
            z-index: 1050;
        }
        #stamp84{
            transform: rotate(4.2deg);
            z-index: 1050;
        }

#thirteen{
    z-index: 1200;
}
        #stamp85 {
            transform: rotate(-3.34deg);
            z-index: 1150;
        }
        #stamp86 {
            transform: rotate(3.84deg);
            z-index: 1150;
        }
        #stamp87 {
            transform: rotate(-5.3deg);
            z-index: 1150;
        }
        #stamp88 {
            transform: rotate(2.39deg);
            z-index: 1150;
        }
        #stamp89 {
            transform: rotate(-2.63deg);
            z-index: 1150;
        }
        #stamp90{
            transform: rotate(3.19deg);
            z-index: 1150;
        }
        #stamp91{
            transform: rotate(0.36deg);
            z-index: 1150;
        }

#fourteen{
    z-index: 1300;
}
        #stamp92{
            transform: rotate(-0.65deg);
            z-index: 1250;
        }
        #stamp93{
            transform: rotate(4.64deg);
            z-index: 1250;
        }
        #stamp94{
            transform: rotate(-3.8deg);
            z-index: 1250;
        }
        #stamp95{
            transform: rotate(2.3deg);
            z-index: 1250;
        }
        #stamp96{
            transform: rotate(-5.3deg);
            z-index: 1250;
        }
        #stamp97{
            z-index: 1250;
        }
        #stamp98{
            transform: rotate(-0.7deg);
            z-index: 1250;
        }

#fifteen{
    z-index: 1400;
}
        #stamp99{ 
            transform: rotate(-4.7deg);
            z-index: 1350;
        }
        #stamp100{
            transform: rotate(2.7deg);
            z-index: 1350;
        }
        #stamp101{
            transform: rotate(4.2deg);
            z-index: 1350;
        }
        #stamp102 {
            transform: rotate(-3.34deg);
            z-index: 1350;
        }
        #stamp103 {
            transform: rotate(3.84deg);
            z-index: 1350;
        }
        #stamp104 {
            transform: rotate(-5.3deg);
            z-index: 1350;
        }
        #stamp105 {
            transform: rotate(2.39deg);
            z-index: 1350;
        }
        #stamp106 {
            transform: rotate(-2.63deg);
            z-index: 1350;
        }

#sixteen{
    z-index: 1500;
}
        #stamp107{
            transform: rotate(3.19deg);
            z-index: 1450;
        }
        #stamp108{
            transform: rotate(0.36deg);
            z-index: 1450;
        }
        #stamp109{
            transform: rotate(-0.65deg);
            z-index: 1450;
        }
        #stamp110{
            transform: rotate(4.64deg);
            z-index: 1450;
        }
        #stamp111{
            transform: rotate(-3.8deg);
            z-index: 1450;
        }
        #stamp112{
            transform: rotate(2.3deg);
            z-index: 1450;
        }
        #stamp113{
            transform: rotate(-5.3deg);
            z-index: 1450;
        }
        #stamp114{
            z-index: 1450;
        }
        #stamp115{
            transform: rotate(-0.7deg);
            z-index: 1450;
        }
        #stamp116{ 
            transform: rotate(-4.7deg);
            z-index: 1450;
        }
        #stamp117{
            transform: rotate(2.7deg);
            z-index: 1450;
        }
        #stamp118{
            transform: rotate(4.2deg);
            z-index: 1450;
        }

#placeholder>* {
    /* z-index: -10; */
}



/* img:hover {
    margin-bottom: 50px;
} */

@media screen and (max-width: 1240px){
   #placeholder {
    grid-template-columns: repeat(6, 205px);
    grid-template-rows: repeat(19, 315px);
   } 

   .secondQuery {
    margin-top: -5775px;
}

.secondQuery>* {
    width: 105vw;
    height: 140px;
    background-color: #D9D9D9;
    opacity: 55%;
    filter: drop-shadow(0px 4px 4px black 16%);
}

#seventeen {
    z-index: 0;
}

#eighteen {
    z-index: 100;
}
        #stamp7 {
            z-index: 50;
        }
        #stamp8{
            transform: rotate(-0.65deg);
            z-index: 50;
        }
        #stamp9{
            transform: rotate(4.64deg);
            z-index: 50;
        }
        #stamp10{
            transform: rotate(-3.8deg);
            z-index: 50;
        }
        #stamp11{
            transform: rotate(2.3deg);
            z-index: 50;
        }
        #stamp12{
            transform: rotate(-5.3deg);
            z-index: 50;
        }

#nineteen{
    z-index: 200;
}
        #stamp13{
            z-index: 150;
        }
        #stamp14{
            z-index: 150;
        }
        #stamp15{
            z-index: 150;
        }
        #stamp16{
            z-index: 150;
        }
        #stamp17{
            z-index: 150;
        }
        #stamp18{
            z-index: 150;
        }

#one{
    z-index: 300;
}
        #stamp19{
            z-index: 250;
        }
        #stamp20{
            z-index: 250;
        }
        #stamp21{
            z-index: 250;
        }
        #stamp22{
            z-index: 250;
        }
        #stamp23{
            z-index: 250;
        }
        #stamp24{
            z-index: 250;
        }

#two{
    z-index: 400;
}
        #stamp25{
            z-index: 350;
        }
        #stamp26{
            z-index: 350;
        }
        #stamp27{
            z-index: 350;
        }
        #stamp28{
            z-index: 350;
        }
        #stamp29{
            z-index: 350;
        }
        #stamp30{
            z-index: 350;
        }


#three{
    z-index: 500;
}
        #stamp31{
            z-index: 450;
        }
        #stamp32{
            z-index: 450;
        }
        #stamp33{
            z-index: 450;
        }
        #stamp34{
            z-index: 450;
        }
        #stamp35{
            z-index: 450;
        }
        #stamp36{
            z-index: 450;
        }


#four{
    z-index: 600;
}
        #stamp37{
            z-index: 550;
        }
        #stamp38{
            z-index: 550;
        }
        #stamp39{
            z-index: 550;
        }
        #stamp40{
            z-index: 550;
        }
        #stamp41{
            z-index: 550;
        }
        #stamp42{
            z-index: 550;
        }

#five{
    z-index: 700;
}
        #stamp43{
            z-index: 650;
        }
        #stamp44{
            z-index: 650;
        }
        #stamp45{
            z-index: 650;
        }
        #stamp46{
            z-index: 650;
        }
        #stamp47{
            z-index: 650;
        }
        #stamp48{
            z-index: 650;
        }

#six{
    z-index: 800;
}
        #stamp49{
            z-index: 750;
        }
        #stamp50{
            z-index: 750;
        }
        #stamp51{
            z-index: 750;
        }
        #stamp52{
            z-index: 750;
        }
        #stamp53{
            z-index: 750;
        }
        #stamp54{
            z-index: 750;
        }

#seven{
    z-index: 900;
}
        #stamp55{
            z-index: 850;
        }
        #stamp56{
            z-index: 850;
        }
        #stamp57{
            z-index: 850;
        }
        #stamp58{
            z-index: 850;
        }
        #stamp59{
            z-index: 850;
        }
        #stamp60{
            z-index: 850;
        }

#eight{
    z-index: 1000;
}
        #stamp61{
            z-index: 950;
        }
        #stamp62{
            z-index: 950;
        }
        #stamp63{
            z-index: 950;
        }
        #stamp64{
            z-index: 950;
        }
        #stamp65{
            z-index: 950;
        }
        #stamp66{
            z-index: 950;
        }

#nine{
    z-index: 1100;
}
        #stamp67{
            z-index: 1050;
        }
        #stamp68{
            z-index: 1050;
        }
        #stamp69{
            z-index: 1050;
        }
        #stamp70{
            z-index: 1050;
        }
        #stamp71{
            z-index: 1050;
        }
        #stamp72{
            z-index: 1050;
        }

#ten{
    z-index: 1200;
}
        #stamp73{
            z-index: 1150;
        }
        #stamp74{
            z-index: 1150;
        }
        #stamp75{
            z-index: 1150;
        }
        #stamp76{
            z-index: 1150;
        }
        #stamp77{
            z-index: 1150;
        }
        #stamp78{
            z-index: 1150;
        }

#eleven {
    z-index: 1300;
}
        #stamp79{
            z-index: 1250;
        }
        #stamp80{
            z-index: 1250;
        }
        #stamp81{
            z-index: 1250;
        }
        #stamp82{
            z-index: 1250;
        }
        #stamp83{
            z-index: 1250;
        }
        #stamp84{
            z-index: 1250;
        }

#twelve{
    z-index: 1400;
}
        #stamp85{
            z-index: 1350;
        }
        #stamp86{
            z-index: 1350;
        }
        #stamp87{
            z-index: 1350;
        }
        #stamp88{
            z-index: 1350;
        }
        #stamp89{
            z-index: 1350;
        }
        #stamp90{
            z-index: 1350;
        }

#thirteen{
    z-index: 1500;
}
        #stamp91{
            z-index: 1450;
        }
        #stamp92{
            z-index: 1450;
        }
        #stamp93{
            z-index: 1450;
        }
        #stamp94{
            z-index: 1450;
        }
        #stamp95{
            z-index: 1450;
        }
        #stamp96{
            z-index: 1450;
        }

#fourteen{
    z-index: 1600;
}
        #stamp97{
            z-index: 1550;
        }
        #stamp98{
            z-index: 1550;
        }
        #stamp99{
            z-index: 1550;
        }
        #stamp100{
            z-index: 1550;
        }
        #stamp101{
            z-index: 1550;
        }
        #stamp102{
            z-index: 1550;
        }

#fifteen{
    z-index: 1700;
}
        #stamp103{
            z-index: 1650;
        }
        #stamp104{
            z-index: 1650;
        }
        #stamp105{
            z-index: 1650;
        }
        #stamp106{
            z-index: 1650;
        }
        #stamp107{
            z-index: 1650;
        }
        #stamp108{
            z-index: 1650;
        }

#sixteen{
    z-index: 1800;
}
        #stamp109{
            z-index: 1750;
        }
        #stamp110{
            z-index: 1750;
        }
        #stamp111{
            z-index: 1750;
        }
        #stamp112{
            z-index: 1750;
        }
        #stamp113{
            z-index: 1750;
        }
        #stamp114{
            z-index: 1750;
        }

}

@media screen and (max-width: 1040px){
    h1{
        font-size: 130px;
        line-height: 120px;
    }

    .categories {
        font-size: 16.5px;
    }

    #placeholder {
     grid-template-columns: repeat(5, 205px);
     grid-template-rows: repeat(23, 315px);
    } 

    .thirdQuery {
        margin-top:-7035px;
    }
    
    .thirdQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }
#twenty{
    z-index: 0;
}

#twentyOne {
    z-index: 100;
}
        #stamp6{
            z-index: 50;
        }
        #stamp7{
            z-index: 50;
        }
        #stamp8{
            z-index: 50;
        }
        #stamp9{
            z-index: 50;
        }
        #stamp610{
            z-index: 50;
        }

#twentyTwo{
    z-index: 200;
}
        #stamp11{
            z-index: 150;
        }
        #stamp12{
            z-index: 150;
        }
        #stamp13{
            z-index: 150;
        }
        #stamp14{
            z-index: 150;
        }
        #stamp15{
            z-index: 150;
        }

#twentyThree{
    z-index: 300;
}
        #stamp16 {
            z-index: 250;
        }
        #stamp17 {
            z-index: 250;
        }
        #stamp18 {
            z-index: 250;
        }
        #stamp19 {
            z-index: 250;
        }
        #stamp20 {
            z-index: 250;
        }

#seventeen {
    z-index: 400;
}
        #stamp21{
            z-index: 350;
        }
        #stamp22{
            z-index: 350;
        }
        #stamp23{
            z-index: 350;
        }
        #stamp24{
            z-index: 350;
        }
        #stamp25{
            z-index: 350;
        }

#eighteen {
    z-index: 500;
}
        #stamp26 {
            z-index: 450;
        }
        #stamp27 {
            z-index: 450;
        }
        #stamp28 {
            z-index: 450;
        }
        #stamp29 {
            z-index: 450;
        }
        #stamp30 {
            z-index: 450;
        }

#nineteen{
    z-index: 600;
}
        #stamp31 {
            z-index: 550;
        }
        #stamp32 {
            z-index: 550;
        }
        #stamp33 {
            z-index: 550;
        }
        #stamp34 {
            z-index: 550;
        }
        #stamp35 {
            z-index: 550;
        }

#one{
    z-index: 700;
}
        #stamp36 {
            z-index: 650;
        }
        #stamp37 {
            z-index: 650;
        }
        #stamp38 {
            z-index: 650;
        }
        #stamp39 {
            z-index: 650;
        }
        #stamp40 {
            z-index: 650;
        }

#two{
    z-index: 800;
}
        #stamp41 {
            z-index: 750;
        }
        #stamp42 {
            z-index: 750;
        }
        #stamp43 {
            z-index: 750;
        }
        #stamp44 {
            z-index: 750;
        }
        #stamp45 {
            z-index: 750;
        }

#three{
    z-index: 900;
}
        #stamp46 {
            z-index: 850;
        }
        #stamp47 {
            z-index: 850;
        }
        #stamp48 {
            z-index: 850;
        }
        #stamp49 {
            z-index: 850;
        }
        #stamp50 {
            z-index: 850;
        }


#four {
    z-index: 1000;
}
        #stamp51{
            z-index: 950;
        }
        #stamp52{
            z-index: 950;
        }
        #stamp53{
            z-index: 950;
        }
        #stamp54{
            z-index: 950;
        }
        #stamp55{
            z-index: 950;
        }


#five{
    z-index: 1100;
}
        #stamp56{
            z-index: 1050;
        }
        #stamp57{
            z-index: 1050;
        }
        #stamp58{
            z-index: 1050;
        }
        #stamp59{
            z-index: 1050;
        }
        #stamp60{
            z-index: 1050;
        }

#six{
    z-index: 1200;
}
        #stamp61{
            z-index: 1150;
        }
        #stamp62{
            z-index: 1150;
        }
        #stamp63{
            z-index: 1150;
        }
        #stamp64{
            z-index: 1150;
        }
        #stamp65{
            z-index: 1150;
        }

#seven{
    z-index: 1300;
}
        #stamp66{
            z-index: 1250;
        }
        #stamp67{
            z-index: 1250;
        }
        #stamp68{
            z-index: 1250;
        }
        #stamp69{
            z-index: 1250;
        }
        #stamp70{
            z-index: 1250;
        }

#eight{
    z-index: 1400;
}
        #stamp71{
            z-index: 1350;
        }
        #stamp72{
            z-index: 1350;
        }
        #stamp73{
            z-index: 1350;
        }
        #stamp74{
            z-index: 1350;
        }
        #stamp75{
            z-index: 1350;
        }

#nine{
    z-index: 1500;
}
        #stamp76{
            z-index: 1450;
        }
        #stamp77{
            z-index: 1450;
        }
        #stamp78{
            z-index: 1450;
        }
        #stamp79{
            z-index: 1450;
        }
        #stamp80{
            z-index: 1450;
        }

#ten{
    z-index: 1600;
}
        #stamp81{
            z-index: 1550;
        }
        #stamp82{
            z-index: 1550;
        }
        #stamp83{
            z-index: 1550;
        }
        #stamp84{
            z-index: 1550;
        }
        #stamp85{
            z-index: 1550;
        }

#eleven{
    z-index: 1700;
}
        #stamp86{
            z-index: 1650;
        }
        #stamp87{
            z-index: 1650;
        }
        #stamp88{
            z-index: 1650;
        }
        #stamp89{
            z-index: 1650;
        }
        #stamp90{
            z-index: 1650;
        }

#twelve{
    z-index: 1800;
}
        #stamp91{
            z-index: 1750;
        }
        #stamp92{
            z-index: 1750;
        }
        #stamp93{
            z-index: 1750;
        }
        #stamp94{
            z-index: 1750;
        }
        #stamp95{
            z-index: 1750;
        }

#thirteen{
    z-index: 1900;
}
        #stamp96{
            z-index: 1850;
        }
        #stamp97{
            z-index: 1850;
        }
        #stamp98{
            z-index: 1850;
        }
        #stamp99{
            z-index: 1850;
        }
        #stamp100{
            z-index: 1850;
        }

#fourteen{
    z-index: 2000;
}
        #stamp101{
            z-index: 1950;
        }
        #stamp102{
            z-index: 1950;
        }
        #stamp103{
            z-index: 1950;
        }
        #stamp104{
            z-index: 1950;
        }
        #stamp105{
            z-index: 1950;
        }

#fifteen{
    z-index: 2100;
}
        #stamp106{
            z-index: 2050;
        }
        #stamp107{
            z-index: 2050;
        }
        #stamp108{
            z-index: 2050;
        }
        #stamp109{
            z-index: 2050;
        }
        #stamp110{
            z-index: 2050;
        }

#sixteen{
    z-index: 2200;
}
        #stamp112{
            z-index: 2150;
        }
 
 }

 @media screen and (max-width: 844px){
    h1 {
        font-size: 110px;
        line-height: 95px;
    }

    h2 {
        margin-top: 20px;
        margin-bottom: 50px;
    }

    #placeholder {
     grid-template-columns: repeat(4, 205px);
     grid-template-rows: repeat(28, 315px);
    } 

    .quicklook {
        display: none;
        z-index: 4000;
        margin: auto;
        background-color: #FAF8ED;
        filter: drop-shadow(2px 2px 2px gray);
        border-radius: 10px;
        width: 70%;
        max-width: 500px;
        height: 200px;
        /* position: absolute; */
        margin-left: auto;
        margin-right: auto;
        position: fixed;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
        padding: 20px;
        /* padding-top: 70px;
        padding-bottom: 70px; */
        flex-direction: column;
    }
    
    .quicklook-content{
        display: flex;
        max-height: 400px;
        /* padding: 10px; */
        gap: .25em;
        /* margin-top: -50px; */
        margin-top: -50px;
        -webkit-align-items: center;
        /* margin-bottom: -120px; */
    }
    
    #information {
        display: flex;
        flex-direction: column;
        /* align-items: center; */
        gap: .25em;
    }

    #quicklook-image {
        transform: scale(.8);
        margin-top: 50px;
        /* width: 50%; */
        /* transform: scale(.8); */
        /* margin-top: 10px; */
        /* align-self: center; */
        /* margin-top: -100px; */
    }

    .imageDiv {
        width: 50%;
        margin-top: -50px;
        display: flex;
        align-items: center;
        justify-content: center;
   
    }

    .infoDiv{
        width: 50%;
    }

    .fourthQuery {
        margin-top: -8610px;
    }
    
    .fourthQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }

    #twentyFour {
        z-index: 0;
    }

    #twentyFive {
        z-index: 100;
    }
            #stamp5 {
                z-index: 50;
            }
            #stamp6 {
                z-index: 50;
            }
            #stamp7 {
                z-index: 50;
            }
            #stamp8 {
                z-index: 50;
            }

    #twentySix {
        z-index: 200;
    }
            #stamp9 {
                z-index: 150;
            }
            #stamp10 {
                z-index: 150;
            }
            #stamp11 {
                z-index: 150;
            }
            #stamp12 {
                z-index: 150;
            }

    #twentySeven {
        z-index: 300;
    }
            #stamp13{
                z-index: 250;
            }
            #stamp14{
                z-index: 250;
            }
            #stamp15{
                z-index: 250;
            }
            #stamp16{
                z-index: 250;
            }

    #twentyEight {
        z-index: 400;
    }
            #stamp17{
                z-index: 350;
            }
            #stamp18{
                z-index: 350;
            }
            #stamp19{
                z-index: 350;
            }
            #stamp20{
                z-index: 350;
            }

    #twenty{
        z-index: 500;
    }
            #stamp21 {
                z-index: 450;
            }
            #stamp22 {
                z-index: 450;
            }
            #stamp23 {
                z-index: 450;
            }
            #stamp24 {
                z-index: 450;
            }
    
    #twentyOne {
        z-index: 600;
    }
            #stamp25{
                z-index: 550;
            }
            #stamp26{
                z-index: 550;
            }
            #stamp27{
                z-index: 550;
            }
            #stamp28{
                z-index: 550;
            }
    
    #twentyTwo{
        z-index: 700;
    }
            #stamp29{
                z-index: 650;
            }
            #stamp30{
                z-index: 650;
            }
            #stamp31{
                z-index: 650;
            }
            #stamp32{
                z-index: 650;
            }
    
    #twentyThree{
        z-index: 800;
    }
            #stamp33{
                z-index: 750;
            }
            #stamp34{
                z-index: 750;
            }
            #stamp35{
                z-index: 750;
            }
            #stamp36{
                z-index: 750;
            }

    
    #seventeen {
        z-index: 900;
    }
            #stamp37 {
                z-index: 850;
            }
            #stamp38 {
                z-index: 850;
            }
            #stamp39 {
                z-index: 850;
            }
            #stamp40 {
                z-index: 850;
            }
    
    #eighteen {
        z-index: 1000;
    }
            #stamp41 {
                z-index: 950;
            }
            #stamp42 {
                z-index: 950;
            }
            #stamp43 {
                z-index: 950;
            }
            #stamp44 {
                z-index: 950;
            }
    
    #nineteen{
        z-index: 1100;
    }
            #stamp45{
                z-index: 1050;
            }
            #stamp46{
                z-index: 1050;
            }
            #stamp47{
                z-index: 1050;
            }
            #stamp48{
                z-index: 1050;
            }
    
    #one{
        z-index: 1200;
    }
            #stamp49 {
                z-index: 1150;
            }
            #stamp50 {
                z-index: 1150;
            }
            #stamp51 {
                z-index: 1150;
            }
            #stamp52 {
                z-index: 1150;
            }
    
    #two{
        z-index: 1300;
    }
            #stamp53 {
                z-index: 1250;
            }
            #stamp54 {
                z-index: 1250;
            }
            #stamp55 {
                z-index: 1250;
            }
            #stamp56 {
                z-index: 1250;
            }
    
    #three{
        z-index: 1400;
    }
            #stamp57 {
                z-index: 1350;
            }
            #stamp58 {
                z-index: 1350;
            }
            #stamp59 {
                z-index: 1350;
            }
            #stamp60 {
                z-index: 1350;
            }
    
    #four {
        z-index: 1500;
    }
            #stamp61 {
                z-index: 1450;
            }
            #stamp62 {
                z-index: 1450;
            }
            #stamp63 {
                z-index: 1450;
            }
            #stamp64 {
                z-index: 1450;
            }
    
    #five{
        z-index: 1600;
    }
            #stamp65 {
                z-index: 1550;
            }
            #stamp66 {
                z-index: 1550;
            }
            #stamp67 {
                z-index: 1550;
            }
            #stamp68 {
                z-index: 1550;
            }
    
    #six{
        z-index: 1700;
    }
            #stamp69 {
                z-index: 1650;
            }
            #stamp70 {
                z-index: 1650;
            }
            #stamp71 {
                z-index: 1650;
            }
            #stamp72 {
                z-index: 1650;
            }
    
    #seven{
        z-index: 1800;
    }
            #stamp73 {
                z-index: 1750;
            }
            #stamp74 {
                z-index: 1750;
            }
            #stamp75 {
                z-index: 1750;
            }
            #stamp76 {
                z-index: 1750;
            }
    
    #eight{
        z-index: 1900;
    }
            #stamp77{
                z-index: 1850;
            }
            #stamp78{
                z-index: 1850;
            }
            #stamp79{
                z-index: 1850;
            }
            #stamp80{
                z-index: 1850;
            }
    
    #nine{
        z-index: 2000;
    }
            #stamp81 {
                z-index: 1950;
            }
            #stamp82 {
                z-index: 1950;
            }
            #stamp83 {
                z-index: 1950;
            }
            #stamp84 {
                z-index: 1950;
            }
    
    #ten{
        z-index: 2100;
    }
            #stamp85{
                z-index: 2050;
            }
            #stamp86{
                z-index: 2050;
            }
            #stamp87{
                z-index: 2050;
            }
            #stamp88{
                z-index: 2050;
            }
    
    #eleven{
        z-index: 2200;
    }
            #stamp89{
                z-index: 2150;
            }
            #stamp90{
                z-index: 2150;
            }
            #stamp91{
                z-index: 2150;
            }
            #stamp92{
                z-index: 2150;
            }
    
    #twelve{
        z-index: 2300;
    }
            #stamp93{
                z-index: 2250;
            }
            #stamp94{
                z-index: 2250;
            }
            #stamp95{
                z-index: 2250;
            }
            #stamp96{
                z-index: 2250;
            }
            
    #thirteen{
        z-index: 2400;
    }
            #stamp97{
                z-index: 2350;
            }
            #stamp98 {
                z-index: 2350;
            }
            #stamp99 {
                z-index: 2350;
            }
            #stamp100 {
                z-index: 2350;
            }
    
    #fourteen{
        z-index: 2500;
    }
    
    #fifteen{
        z-index: 2600;
    }
    
    #sixteen{
        z-index: 2700;
    }
    
 }

@media screen and ( max-width: 640px ){
    h1 {
        font-size: 80px;
        line-height: 85px;
    }

    h2 {
        font-size: 70px;
    }

    .categories {
        font-size: 15px;
    }

    #placeholder {
        grid-template-columns: repeat(3, 205px);
        grid-template-rows: repeat(37, 315px);
       } 

       .fifthQuery {
        margin-top: -11445px;
    }
    
    .fifthQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }

    #twentyNine{
        z-index: 0;
    }

    #thirty{
        z-index: 100;
    }
            #stamp4{
                z-index: 50;
            }
            #stamp5{
                z-index: 50;
            }
            #stamp6{
                z-index: 50;
            }

    #thirtyOne{
        z-index: 200;
    }
            #stamp7{
                z-index: 150;
            }
            #stamp8{
                z-index: 150;
            }
            #stamp9{
                z-index: 150;
            }


    #thirtyTwo{
        z-index: 300;
    }
            #stamp10{
                z-index: 250;
            }
            #stamp11{
                z-index: 250;
            }
            #stamp12{
                z-index: 250;
            }

    #thirtyThree{
        z-index: 500;
    }
            #stamp13{
                z-index: 350;
            }
            #stamp14{
                z-index: 350;
            }
            #stamp15{
                z-index: 350;
            }

    #thirtyFour{
        z-index: 700;
    }
            #stamp13{
                z-index: 450;
            }
            #stamp14{
                z-index: 450;
            }
            #stamp15{
                z-index: 450;
            }

    #thirtyFive{
        z-index: 800;
    }
            #stamp16{
                z-index: 550;
            }
            #stamp17{
                z-index: 550;
            }
            #stamp18{
                z-index: 550;
            }

    #thirtySix{
        z-index: 900;
    }
            #stamp19{
                z-index: 650;
            }
            #stamp20{
                z-index: 650;
            }
            #stamp21{
                z-index: 650;
            }

    #thirtySeven{
        z-index: 1000;
    }
            #stamp22{
                z-index: 850;
            }
            #stamp23{
                z-index: 850;
            }
            #stamp24{
                z-index: 850;
            }

    #twentyFour{
        z-index: 1100;
    }
            #stamp25{
                z-index: 950;
            }
            #stamp26{
                z-index: 950;
            }
            #stamp27{
                z-index: 950;
            }
            #stamp28{
                z-index: 1050;
            }
            #stamp29{
                z-index: 1050;
            }
            #stamp30{
                z-index: 1050;
            }


    #twentyFive{
        z-index: 1200;
    }


    #twentySix{
        z-index: 1300;
    }
    #stamp31{
        z-index: 1150;
    }
    #stamp32{
        z-index: 1150;
    }
    #stamp34{
        z-index: 1250;
    }

    #twentySeven{
        z-index: 1100;
    }

    #stamp47 {
        z-index: 1350;
    }
    #stamp48 {
        z-index: 1350;
    }


    #twentyEight{
        z-index: 1200;
    }

    #twenty{
        z-index: 1300;
    }

    #twentyOne{
        z-index: 1400;
    }

    #twentyTwo{
        z-index: 1500;
    }

    #twentyThree{
        z-index: 1600;
    }

    #seventeen{
        z-index: 1700;
    }

    #eighteen{
        z-index: 1800;
    }

    #nineteen{
        z-index: 1900;
    }

    #one{
        z-index: 2000;
    }

    #two{
        z-index: 2100;
    }

    #three{
        z-index: 2200;
    }

    #four{
        z-index: 2300;
    }

    #five{
        z-index: 2400;
    }

    #six{
        z-index: 2500;
    }

    #seven{
        z-index: 2600;
    }

    #eight{
        z-index: 2700;
    }

    #nine{
        z-index: 2800;
    }

    #ten{
        z-index: 2900;
    }

    #eleven{
        z-index: 3000;
    }

    #twelve{
        z-index: 3100;
    }

    #thirteen{
        z-index: 3200;
    }

    #fourteen{
        z-index: 3300;
    }

    #fifteen{
        z-index: 3400;
    }

    #sixteen{
        z-index: 3500;
    }

    #stamp51{
        z-index: 1450;
    }
    #stamp52, #stamp54{
        z-index: 1550;
    }
    #stamp58 {
        z-index: 1750;
    }
    #stamp61, #stamp62, #stamp63 {
        z-index: 1850;
    }
    #stamp64, #stamp65, #stamp66 {
        z-index: 1950;
    }
    #stamp73{
        z-index: 2250;
    }
    #stamp82{
        z-index: 2550;
    }
    #stamp85{
        z-index: 2650;
    }
    #stamp88, #stamp89, #stamp90 {
        z-index: 2750;
    }
    #stamp97{
        z-index: 3050;
    }



}

    @media screen and ( max-width: 400px) {

        h2 {
            font-size: 50px;
        }

        .quicklook-content{
            flex-direction: row;
            /* text-align: left; */
        }

        #quicklook-image{
            transform: scale(.6);
            
        }

        #imageDiv{
            width: 30%;
            display: flex;
            align-items: center;
            justify-content: center;
            margin-left: -30px;
        }
        .categories {
            gap: 2em;
        }

        #placeholder > * {
            transform: rotate(0deg);
            margin-bottom: 50px;
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #placeholder {
            display: block;
        }

        .holders {
            display: none;
        }
    }


@media screen and (min-width: 1435px){
    .largeParent {
        display: flex;
        align-items: center;
        justify-content: center;
    }
}
