body {
    background-color: #FAF8ED;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Gloock', serif;
    text-align: center;
    font-size: 130px;
    font-weight: 300;
    line-height: 130px;
}



.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

#red {
    text-decoration: underline;
}

#back {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#back:hover {
    color: lightgrey;
}

.categories >*:hover {
    text-decoration: underline;
    /* color: gray; */
}

#placeholder{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 205px 205px 205px 205px 205px 205px 205px;
    grid-template-rows: 315px 315px 315px 315px;
    /* align-self: end; */
    align-items: last baseline;
    /* display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
}

#placeholder>*:hover {
    filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
    opacity: 95%;
}

.holders>* {
    display: flex;
    flex-direction: column;
    gap: 175px;
    position: absolute;
    margin-top: 300px;
    /* z-index: 300; */
    margin-left: -10px;
}

.firstQuery {
    margin-top: -1050px;
}

.firstQuery>* {
    width: 105vw;
    height: 140px;
    background-color: #D9D9D9;
    opacity: 55%;
    filter: drop-shadow(0px 4px 4px black 16%);
}

img {
    width: 205px;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 2px gray);
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
}

#stamp1 {
    transform: rotate(-3.34deg)
}

#stamp2 {
    transform: rotate(3.84deg);
}

#stamp3 {
    transform: rotate(-5.3deg);
    z-index: -12;
}

#stamp4 {
    transform: rotate(2.39deg);
    z-index: -6;
}

#stamp5 {
    transform: rotate(-2.63deg);
}

#stamp6{
    transform: rotate(3.19deg);
}

#stamp7{
    transform: rotate(0.36deg);
}

#stamp8{
    transform: rotate(-0.65deg);
}

#stamp9{
    transform: rotate(4.64deg);
}

#stamp10{
    transform: rotate(-3.8deg);
}

#stamp11{
    transform: rotate(2.3deg);
}

#stamp12{
    transform: rotate(-5.3deg);
}

#stamp13{}

#stamp14{
    transform: rotate(-0.7deg);
}

#stamp15{ 
    transform: rotate(-4.7deg)
}

#stamp16{
    transform: rotate(2.7deg)
}

#stamp17{
    transform: rotate(4.2deg)
}

#stamp18 {
    transform: rotate(-3.34deg)
}

#stamp19 {
    transform: rotate(3.84deg);
}

#stamp20 {
    transform: rotate(-5.3deg);
    z-index: -12;
}

#stamp21 {
    transform: rotate(2.39deg);
    z-index: -2;
}

#stamp22 {
    transform: rotate(-2.63deg);
}

#stamp23{
    transform: rotate(3.19deg);
}

#stamp24{
    transform: rotate(0.36deg);
}

#stamp25{
    transform: rotate(-0.65deg);
}

#stamp26{
    transform: rotate(4.64deg);
}

#stamp27{
    transform: rotate(-3.8deg);
}

#stamp28{
    transform: rotate(2.3deg);
}

#stamp29{
    transform: rotate(-5.3deg);
}

#stamp30{}

#stamp31{
    transform: rotate(-0.7deg);
}

#stamp32{ 
    transform: rotate(-4.7deg)
}

#stamp33{
    transform: rotate(2.7deg)
}

#stamp34{
    transform: rotate(4.2deg)
}

#stamp35 {
    transform: rotate(-3.34deg)
}

#stamp36 {
    transform: rotate(3.84deg);
}

#stamp37 {
    transform: rotate(-5.3deg);
    z-index: -12;
}

#stamp38 {
    transform: rotate(2.39deg);
    z-index: -3;
}

#stamp39 {
    transform: rotate(-2.63deg);
}

#stamp40{
    transform: rotate(3.19deg);
}

#stamp41{
    transform: rotate(0.36deg);
}

#stamp42{
    transform: rotate(-0.65deg);
}

#stamp43{
    transform: rotate(4.64deg);
}

#stamp44{
    transform: rotate(-3.8deg);
}

#stamp45{
    transform: rotate(2.3deg);
}

#stamp46{
    transform: rotate(-5.3deg);
}

#stamp47{}

#stamp48{
    transform: rotate(-0.7deg);
}

#stamp49{ 
    transform: rotate(-4.7deg)
}

#stamp50{
    transform: rotate(2.7deg)
}

#stamp51{
    transform: rotate(4.2deg)
}

#stamp52 {
    transform: rotate(-3.34deg)
}

#stamp53 {
    transform: rotate(3.84deg);
}

#stamp54 {
    transform: rotate(-5.3deg);
    z-index: -6;
}

#stamp55 {
    transform: rotate(2.39deg);
    z-index: -12;
}

#stamp56 {
    transform: rotate(-2.63deg);
}

#stamp57{
    transform: rotate(3.19deg);
}

#stamp58{
    transform: rotate(0.36deg);
}

#stamp59{
    transform: rotate(-0.65deg);
}

#stamp60{
    transform: rotate(4.64deg);
}

#stamp61{
    transform: rotate(-3.8deg);
}

#stamp62{
    transform: rotate(2.3deg);
}

#stamp63{
    transform: rotate(-5.3deg);
}

#stamp64{}

#stamp65{
    transform: rotate(-0.7deg);
}

#stamp66{ 
    transform: rotate(-4.7deg)
}

#stamp67{
    transform: rotate(2.7deg)
}

#stamp68{
    transform: rotate(4.2deg)
}

#stamp69 {
    transform: rotate(-3.34deg)
}

#stamp70 {
    transform: rotate(3.84deg);
}

#stamp71 {
    transform: rotate(-5.3deg);
    z-index: -6;
}

#stamp72 {
    transform: rotate(2.39deg);
    z-index: -12;
}

#stamp73 {
    transform: rotate(-2.63deg);
}

#stamp74{
    transform: rotate(3.19deg);
}

#stamp75{
    transform: rotate(0.36deg);
}

#stamp76{
    transform: rotate(-0.65deg);
}

#stamp77{
    transform: rotate(4.64deg);
}

#stamp78{
    transform: rotate(-3.8deg);
}

#stamp79{
    transform: rotate(2.3deg);
}

#stamp80{
    transform: rotate(-5.3deg);
}

#stamp81{}

#stamp14{
    transform: rotate(-0.7deg);
}

#stamp82{ 
    transform: rotate(-4.7deg)
}

#stamp83{
    transform: rotate(2.7deg)
}

#stamp84{
    transform: rotate(4.2deg)
}

#stamp85 {
    transform: rotate(-3.34deg)
}

#stamp86 {
    transform: rotate(3.84deg);
}

#stamp87 {
    transform: rotate(-5.3deg);
    z-index: -12;
}

#stamp88 {
    transform: rotate(2.39deg);
    z-index: -6;
}

#stamp89 {
    transform: rotate(-2.63deg);
}

#stamp90{
    transform: rotate(3.19deg);
}

#stamp91{
    transform: rotate(0.36deg);
}

#stamp92{
    transform: rotate(-0.65deg);
}

#stamp93{
    transform: rotate(4.64deg);
}

#stamp94{
    transform: rotate(-3.8deg);
}

#stamp95{
    transform: rotate(2.3deg);
}

#stamp96{
    transform: rotate(-5.3deg);
}

#stamp97{}

#stamp98{
    transform: rotate(-0.7deg);
}

#stamp99{ 
    transform: rotate(-4.7deg)
}

#stamp100{
    transform: rotate(2.7deg)
}

#stamp101{
    transform: rotate(4.2deg)
}

#stamp102 {
    transform: rotate(-3.34deg)
}

#stamp103 {
    transform: rotate(3.84deg);
}

#stamp104 {
    transform: rotate(-5.3deg);
    z-index: -12;
}

#stamp105 {
    transform: rotate(2.39deg);
    z-index: -6;
}

#stamp106 {
    transform: rotate(-2.63deg);
}

#stamp107{
    transform: rotate(3.19deg);
}

#stamp108{
    transform: rotate(0.36deg);
}

#stamp109{
    transform: rotate(-0.65deg);
}

#stamp110{
    transform: rotate(4.64deg);
}

#stamp111{
    transform: rotate(-3.8deg);
}

#stamp112{
    transform: rotate(2.3deg);
}

#stamp113{
    transform: rotate(-5.3deg);
}

#stamp114{}

#stamp115{
    transform: rotate(-0.7deg);
}

#stamp116{ 
    transform: rotate(-4.7deg)
}

#stamp117{
    transform: rotate(2.7deg)
}

#stamp118{
    transform: rotate(4.2deg)
}

/* img:hover {
    margin-bottom: 50px;
} */

@media screen and (max-width: 1240px){
    #placeholder {
     grid-template-columns: repeat(6, 205px);
     grid-template-rows: repeat(4, 315px);
    } 
 
 }
 
 @media screen and (max-width: 1040px){
     h1{
         font-size: 130px;
         line-height: 120px;
     }
 
     #placeholder {
      grid-template-columns: repeat(5, 205px);
      grid-template-rows: repeat(5, 315px);
     } 

     .secondQuery {
        margin-top: -1375px;
    }
    
    .secondQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }
  
  }
 
  @media screen and (max-width: 844px){

 
     #placeholder {
      grid-template-columns: repeat(4, 205px);
      grid-template-rows: repeat(6, 315px);
     } 

     .thirdQuery {
        margin-top: -1690px;
    }
    
    .thirdQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }
  
  
  }
 
 
 @media screen and ( max-width: 640px ){
 
     #placeholder {
         grid-template-columns: repeat(3, 205px);
         grid-template-rows: repeat(8, 315px);
        } 
    
        .fourthQuery {
            margin-top: -2320px;
        }
        
        .fourthQuery>* {
            width: 105vw;
            height: 140px;
            background-color: #D9D9D9;
            opacity: 55%;
            filter: drop-shadow(0px 4px 4px black 16%);
        }
     }
 
