body {
    background-color: #FAF8ED;
}

a {
    text-decoration: none;
    color: black;
}

h1 {
    font-family: 'Gloock', serif;
    text-align: center;
    font-size: 130px;
    font-weight: 300;
    line-height: 130px;
}



.categories {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
    text-decoration: none;
}

#red {
    text-decoration: underline;
}

#back {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
    color: gray;
    margin-top: 20px;
    margin-bottom: 30px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

#back:hover {
    color: lightgrey;
}

.categories >*:hover {
    text-decoration: underline;
    /* color: gray; */
}

#placeholder{
    margin-top: 100px;
    margin-right: auto;
    margin-left: auto;
    display: grid;
    grid-template-columns: 205px 205px 205px 205px 205px 205px 205px;
    grid-template-rows: 315px 315px 315px 315px;
    /* align-self: end; */
    align-items: last baseline;
    /* display: grid;
    grid-row: 1fr 1fr 1fr 1fr 1fr 1fr 1fr ; */
}

#placeholder>*:hover {
    filter: drop-shadow(2px 2px 2px rgb(51, 51, 51));
    opacity: 95%;
}

.holders>* {
    display: flex;
    flex-direction: column;
    gap: 175px;
    position: absolute;
    margin-top: 300px;
    /* z-index: 300; */
    margin-left: -10px;
}

.firstQuery {
    margin-top: -1050px;
}

.firstQuery>* {
    width: 105vw;
    height: 140px;
    background-color: #D9D9D9;
    opacity: 55%;
    filter: drop-shadow(0px 4px 4px black 16%);
}

img {
    width: 205px;
    justify-content: space-between;
    filter: drop-shadow(2px 2px 2px gray);
    /* position: absolute; */
    /* display: flex;
    flex-direction: column; */
}

#one {
    z-index: 0;
}
        #stamp9{
            transform: rotate(4.64deg);
        }
        #stamp11{
            transform: rotate(2.3deg);
        }
        #stamp12{
            transform: rotate(-5.3deg);
        }
        #stamp13{

        }
        #stamp14{
            transform: rotate(-0.7deg);
        }
        #stamp17{
            transform: rotate(4.2deg)
        }
        #stamp18 {
            transform: rotate(-3.34deg)
        }

#two {
    z-index: 100;
}
        #stamp21 {
            transform: rotate(2.39deg);
            z-index: 50;
        }
        #stamp49{ 
            transform: rotate(-4.7deg);
            z-index: 50;
        }
        #stamp51{
            transform: rotate(4.2deg);
            z-index: 50;
        }
        #stamp52 {
            transform: rotate(-3.34deg);
            z-index: 50;
        }
        #stamp60{
            transform: rotate(4.64deg);
            z-index: 50;
        }
        #stamp82{ 
            transform: rotate(-4.7deg);
            z-index: 50;
        }
        #stamp89 {
            transform: rotate(-2.63deg);
            z-index: 50;
        }

#three{
    z-index: 200;
}
        #stamp93{
            transform: rotate(4.64deg);
            z-index: 150;
        }
        #stamp95{
            transform: rotate(2.3deg);
            z-index: 150;
        }
        #stamp96{
            transform: rotate(-5.3deg);
            z-index: 150;
        }
        #stamp99{ 
            transform: rotate(-4.7deg);
            z-index: 150;
        }
        #stamp101{
            transform: rotate(4.2deg);
            z-index: 150;
        }
        #stamp105 {
            transform: rotate(2.39deg);
            z-index: 150;
        }
        #stamp108{
            transform: rotate(0.36deg);
            z-index: 150;
        }

#four{
    z-index: 300;
}
        #stamp109{
            transform: rotate(-0.65deg);
            z-index: 250;
        }


/* img:hover {
    margin-bottom: 50px;
} */

@media screen and (max-width: 1240px){
    #placeholder {
     grid-template-columns: repeat(6, 205px);
     grid-template-rows: repeat(4, 315px);
    } 

    #one{
        z-index: 0;
    }
            #stamp18 {
                transform: rotate(-3.34deg);
                z-index: 50;
            }
            #stamp21 {
                transform: rotate(2.39deg);
                z-index: 50;
            }
            #stamp49{ 
                transform: rotate(-4.7deg);
                z-index: 50;
            }
            #stamp51{
                transform: rotate(4.2deg);
                z-index: 50;
            }
            #stamp52 {
                transform: rotate(-3.34deg);
                z-index: 50;
            }
            #stamp60{
                transform: rotate(4.64deg);
                z-index: 50;
            }

    #two{
        z-index: 100;
    }
    #stamp82{ 
        transform: rotate(-4.7deg);
        z-index: 150;
    }
    #stamp89 {
        transform: rotate(-2.63deg);
        z-index: 150;
    }

    #three{
        z-index: 200;
    }

    #four{
        z-index: 300;
    }

 
 }
 
 @media screen and (max-width: 1040px){
     h1{
         font-size: 130px;
         line-height: 120px;
     }
 
     #placeholder {
      grid-template-columns: repeat(5, 205px);
      grid-template-rows: repeat(5, 315px);
     } 

     .secondQuery {
        margin-top: -1375px;
    }
    
    .secondQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }

    #five {
        z-index: 0;
    }

    #one{
        z-index: 100;
    }
            #stamp17{
                transform: rotate(4.2deg);
                z-index: 50;
            }
            #stamp18 {
                transform: rotate(-3.34deg);
                z-index: 50;
            }
            #stamp21 {
                transform: rotate(2.39deg);
                z-index: 50;
            }
            #stamp49{ 
                transform: rotate(-4.7deg);
                z-index: 50;
            }
            #stamp51{
                transform: rotate(4.2deg);
                z-index: 50;
            }

    #two{
        z-index: 200;
    }
            #stamp52 {
                transform: rotate(-3.34deg);
                z-index: 150;
            }
            #stamp60{
                transform: rotate(4.64deg);
                z-index: 150;
            }
            #stamp82{ 
                transform: rotate(-4.7deg);
                z-index: 150;
            }
            #stamp89 {
                transform: rotate(-2.63deg);
                z-index: 150;
            }
            #stamp93{
                transform: rotate(4.64deg);
                z-index: 150;
            }

    #three{
        z-index: 300;
    }
            #stamp95{
                transform: rotate(2.3deg);
                z-index: 250;
            }
            #stamp96{
                transform: rotate(-5.3deg);
                z-index: 250;
            }
            #stamp99{ 
                transform: rotate(-4.7deg);
                z-index: 250;
            }
            #stamp101{
                transform: rotate(4.2deg);
                z-index: 250;
            }
            #stamp105 {
                transform: rotate(2.39deg);
                z-index: 250;
            }

    #four{
        z-index: 400;
    }
            #stamp108{
                transform: rotate(0.36deg);
                z-index: 350;
            }
            #stamp109{
                transform: rotate(-0.65deg);
                z-index: 350;
            }
  }
 
  @media screen and (max-width: 844px){

 
     #placeholder {
      grid-template-columns: repeat(4, 205px);
      grid-template-rows: repeat(6, 315px);
     } 

     .thirdQuery {
        margin-top: -1690px;
    }
    
    .thirdQuery>* {
        width: 105vw;
        height: 140px;
        background-color: #D9D9D9;
        opacity: 55%;
        filter: drop-shadow(0px 4px 4px black 16%);
    }

  #six {
    z-index: 0;
  }  

  #five {
    z-index: 100;
  } 
        #stamp17{
            transform: rotate(4.2deg);
            z-index: 50;
        }
        #stamp18 {
            transform: rotate(-3.34deg);
            z-index: 50;
        }
        #stamp21 {
            transform: rotate(2.39deg);
            z-index: 50;
        }
        #stamp49{ 
            transform: rotate(-4.7deg);
            z-index: 50;
        }

  #one {
    z-index: 200;
  } 
        #stamp51{
            transform: rotate(4.2deg);
            z-index: 150;
        }
        #stamp52 {
            transform: rotate(-3.34deg);
            z-index: 150;
        }
        #stamp60{
            transform: rotate(4.64deg);
            z-index: 150;
        }
        #stamp82{ 
            transform: rotate(-4.7deg);
            z-index: 150;
        }

  #two {
    z-index: 300;
  } 
        #stamp82{
            z-index: 250; 
        }
        #stamp89 {
            transform: rotate(-2.63deg);
            z-index: 250;
        }
        #stamp93{
            transform: rotate(4.64deg);
            z-index: 250;
        }
        #stamp95{
            transform: rotate(2.3deg);
            z-index: 250;
        }
        #stamp96{
            transform: rotate(-5.3deg);
            z-index: 250;
        }

  #three {
    z-index: 400;
  } 

  #four {
    z-index: 500;
  } 
  
  
  }
 
 
 @media screen and ( max-width: 640px ){
 
     #placeholder {
         grid-template-columns: repeat(3, 205px);
         grid-template-rows: repeat(8, 315px);
        } 
    
        .fourthQuery {
            margin-top: -2320px;
        }
        
        .fourthQuery>* {
            width: 105vw;
            height: 140px;
            background-color: #D9D9D9;
            opacity: 55%;
            filter: drop-shadow(0px 4px 4px black 16%);
        }

        #seven{
            z-index: 0;
        }

        #eigth{
            z-index: 100;
        }
                #stamp17{
                    transform: rotate(4.2deg);
                    z-index: 0;
                }

        #six{
            z-index: 200;
        }

        #five{
            z-index: 300;
        }
        #stamp51 {
            z-index: 250;
        }

        #one{
            z-index: 400;
        }
        #stamp82{
            z-index: 350;
        }
        #stamp89{
            z-index: 350;
        }

        #two{
            z-index: 500;
        }

        #three{
            z-index: 600;
        }

        #four{
            z-index: 800;
        }
     }

     @media screen and ( max-width: 400px) {
        .categories {
            font-size: 13px;
        }

        #placeholder > * {
            transform: rotate(0deg);
            margin-bottom: 50px;
            width: 70%;
            display: block;
            margin-left: auto;
            margin-right: auto;
        }

        #placeholder {
            display: block;
        }

        .holders {
            display: none;
        }
    }

    @media screen and (min-width: 1435px){
        .largeParent {
            display: flex;
            align-items: center;
            justify-content: center;
        }
    }
 
